<div class="form-group">
    <label class="col-xs-2 control-label">Comuna:</label>
    <div class="col-xs-10">
        <p class="form-control-static">{{detalle.poi.nroComuna}}</p>
    </div>
</div>
<div class="form-group">
    <label class="col-xs-2 control-label">Domicilio:</label>
    <div class="col-xs-10">
        <p class="form-control-static">{{detalle.poi.domicilio}}</p>
    </div>
</div>
<div class="form-group">
    <label class="col-xs-2 control-label">Servicios:</label>
    <div class="col-xs-10">
        <table class="table table-hover table-responsive">
            <thead>
                <tr>
                    <th class="col-xs-3">Servicio</th>
                    <th class="col-xs-9">Horario</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="servicio in detalle.poi.listaServicios" class="active">
                    <td>{{servicio.nombre}}</td>
                    <td><span ng-repeat="rango in servicio.horario.listaDias">{{rango.toString()}} &nbsp</span></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
