<div id="modal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Opinar</h4>
            </div>
            <div class="modal-body">
                <div class="alert alert-danger" ng-show="detalle.errorMessage">
                    <span class="fa fa-exclamation-circle"></span>{{detalle.errorMessage}}</div>
                <div class="form-group">
                    <label for="comentario" class="col-lg-2 control-label">Comentario</label>
                    <div class="col-lg-10">
                        <textarea class="form-control" placeholder="Escriba aquí su comentario" rows="3" ng-model="detalle.textoComentario" id="comentario" style="overflow:auto;resize:none"></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <label for="calificacion" class="col-lg-2 control-label">Calificación</label>
                    <div class="col-lg-10">
                        <div class="input-group">
                            <input ng-model="detalle.calificacion" type="number" id=calificacion class="form-control" placeholder="1 a 5" onkeydown="return false">
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-default" data-dismiss="modal">Salir</button>
                <button class="btn btn-primary" ng-disabled="!(detalle.calificacion && detalle.textoComentario)" ng-click="detalle.addOpinion()" data-dismiss="modal">Enviar</button>
            </div>
        </div>
    </div>
</div>
