<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#user">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand">Búsqueda de POIs</a>
        </div>
        <div class="collapse navbar-collapse" id="user">
            <ul class="nav navbar-nav navbar-right" ng-show="login.usuario">
                <li>
                    <a> <span class="fa fa-user"></span> {{login.usuario.nombre}}</a>
                </li>
                <li class="clickable">
                    <a ng-click="login.logOut()"> <span class="fa fa-sign-out"></span> Salir</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
